#title{background-color: #ff4c68;}
.container-fluid{
  padding: 3% 15% 7%;
  color: #fff;
}

h1{
  font-size: 3.5rem;
  line-height: 1.2;
}

h2{
 font-family:inherit;
 font-size: 3rem;
 line-height: 1.5;
}

h3{
font-weight: bold;
}

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding:0 18px;
}

.navbar-brand{
  font-family: serif;  font-size: 2.5rem;
}

.nav-link{
  font-size: 1.2rem;
  font-family: serif;
}

.download-button{
  margin: 3% 5% 3% 0;
}

.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right:20%;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  text-align: center;
}

.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color:#ef8172;
    color: #fff;
}

.testimonial-image{
    width:10%;
    border-radius:100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 30px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding:3% 2%;
}

@media (max-width:1000px){

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding:7% 15% 1%;
    color:#fff;

}
.cta-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}
.icons{
    padding: 10px;
    
}
